
<!doctype html>
<html ng-app="dashboard" ng-controller="dashboardController as dashboard">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <section class="wrapper">
        <section ng-repeat="category in dashboard.categories">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{category.name}}</th>
                        <th>білки</th>
                        <th>жири</th>
                        <th>вуглеводи</th>
                        <th>ккал.</th>
                    </tr>
                </thead>
                <tbody ng-repeat="product in category.products">
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.protein}}</td>
                        <td>{{product.fat}}</td>
                        <td>{{product.carb}}</td>
                        <td>{{product.kcal}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
    <script src="./public/javascripts/common.js"></script>
</body>
</html>