<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{header.sitename}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="menuItem in header.menuItems"
          ui-sref-active="active">
        <a ui-sref="{{menuItem.name}}">{{menuItem.title}}</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-if="!header.user.username"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
      <li ng-if="header.user.username"><a href="#"> <span>Hello, {{header.user.username}} </span></a></li>
      <li ng-if="header.user.username"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
