.wrapper {
    margin: 0 auto;
    width: 1280px;
}

.loading{
  background: #fff;
  position: relative;
}
.loading:before{
  content: "Loading";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: red;
}
.recipes-name-wrapper {
  margin-bottom: 50px;
}
.remove {
  display: inline-block;
  margin-left: 30px;
  width: 10px;
  height: 10px;
  background: url("../img/x.svg");
  background-size: 10px;
}
.remove:hover {
  cursor: pointer;
}